<ul class="navigation navsimple">
    <li class=" cc1"><a href="http://localhost:3000/"><cufon style="width: 39px; height: 14px;" alt="Home" class="cufon cufon-canvas"><canvas style="width: 45px; height: 14px; top: 0px; left: -1px;" height="14" width="45"></canvas><cufontext></cufontext></cufon></a></li>  <a href="http://localhost:3000/cart"><cufon style="width: 39px; height: 14px;"class="cufon cufon-canvas"><canvas style="width: 45px; height: 14px; top: 0px; left: -1px;" height="14" width="45"></canvas><cufontext><li id="link-to-cart" data-hook><%= link_to_cart %></li></cufontext></cufon></a>
  
</ul>




<%#*match 'about_us', :to => 'spree/products#about_us'%>




<%#*<div class="bus_back">%>
<%#*<li id="search-bar" data-hook>%>
  <%#= render :partial => 'spree/shared/search' %>
<%#*</li>%>
<%#*</div>%>