<div class="bus_back">
<li id="search-bar" data-hook>
 <%= render :partial => 'spree/shared/search' %>
  <br></br>
</li>
</div>
<%#*<li id="home-link" data-hook><%= link_to t(:home), root_path %>
<%#*<li id="link-to-cart" data-hook><%= link_to_cart %>